<h2>This is the main component which initially created by Angular CLI</h2>
<br>
<div class="nav-bar">
  <button routerLinkActive="active"  class="btn btn-warning" routerLink="/customer" >Customer</button>
  <button routerLinkActive="active" class="btn btn-info" routerLink="/item">Items</button>
  <button routerLinkActive="active" class="btn btn-warning" routerLink="/order">Order</button>
  <button routerLinkActive="active" class="btn btn-info" routerLink="/place-order">Place order</button>
</div>


<hr>
<router-outlet></router-outlet>

